<html>
    <head>

    </head>

    <body>
        <div id="name"><%= data.name1 %></div><br>
        <div id="surname"><%= data.surname1 %></div><br>
        <div id="id"><%= data.id1 %></div>
    </body>

</html>