<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
    <script type="text/javascript" src="hello.js"></script>
</head>
<body>

<form action="/formdata", method="POST">
    <label for="name2">
        Enter name: <input type="text" id="name2" name ="name2"/>
    </label><br>

    <label for="surname2">
        Enter surname: <input type="text" id="surname2" name ="surname2"/>
    </label><br>

    <label for="id2">
        Enter id: <input type="text" id="id2" name ="id2"/>
    </label><br>

    <button id = "button1" style="width:100px; height:25px" onclick="formData(); return false">Submit</button>

</form>
<script type="text/javascript" src="hello.js"></script>
</body>
</html>